<!doctype html>
<!--
author: Xiaoyu Yuan
filename: base.html
Date: 2022-4-11-->
<html lang="zh-CN">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <title>{{_('盟书·智藏 | 主页')}}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

      <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

      <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/style.css" rel="stylesheet">

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
      <script src="https://fastly.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://fastly.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->

  </head>

  <body style="background-image:url(/static/images/background3.png);width: 100%;height: 100%;">

    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://fastly.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">{{_('导航按钮')}}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="cover.html">{{_('盟书·智藏')}}</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="index.html">{{_('主页')}}</a></li>
            <li><a href="sourch.html">{{_('检索古文字')}}</a></li>
            <li><a href="predict.html">{{_('古文字图片识别')}}</a></li>
            <li><a href="online.html">{{_('古文字手写识别')}}</a></li>
            <li><a href="fqa.html">{{_('常见问题')}}</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li class="nav-item dropdown">
                  <select class="dropdown select_language" style="height: 50px; background: #333; color: #fff;border: 0px; " name="language" aria-label="State" id="language_switch">
                      <option value="" style="color: gray; ">{{_('Language')}}</option>
                      <option value="中文">{{_("中文")}}</option>
                      <option value="English">{{_("English")}}</option>
                  </select>
              </li>
          </ul>
          <script>
              $("#language_switch").change(function(){
                  $.ajax({
                      url: '/set_locale',
                      type: 'GET',
                      data:{"language": $(this).val()},
                      success: function (ret) {
                          location.reload();
                      }
                  })
              });
          </script>


        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel" >
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="/static/images/part1.png" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <p><a class="btn btn-lg btn-primary" href="s1.html" role="button">{{_('检索古文字&raquo;')}}</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="/static/images/part3.png" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <p><a class="btn btn-lg btn-primary" href="predict.html" role="button">{{_('古文字识别&raquo;')}}</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->


    <div class="container marketing">

        <!-- START THE FEATURETTES -->


      <div class="row featurette">
        <div class="col-md-6">
          <h2 class="featurette-heading">{{_('侯马盟书')}}<span class="text-muted">&nbsp;{{_('春秋之末，战国之初')}}</span></h2>
          <p class="lead">{{_('侯马盟书，春秋晚期晋定公十五年到二十三年(公元前497年-前489年）晋国世卿赵鞅同卿大夫间举行盟誓的约信文书。1965年山西省文物工作委员会在发掘山西侯马晋国遗址时发现，同年11月至次年5月发掘。这项前所未有的发现不仅推动了中国文字的发展，也大量地填补了文字资料的空白。侯马盟书同时也使人们对春秋到战国某段历史时期的盟誓方法有了更全深入、全面的了解。')}}</p>
        </div>
        <div class="col-md-6">
          <img  src="/static/images/hmms_intro.png" class="featurette-image img-responsive center-block" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">{{_('侯马盟书数据集')}}<span class="text-muted">&nbsp;{{_('从玉石片，到宣纸，再到二进制数据')}}</span></h2>
          <p class="lead">{{_('本识别平台收集并整理《侯马盟书》考古报告中已识别的327个单字的小型数据集，每个单字都有多个异体字型，共整理了26732张考古学专家临摹的古文字样本。')}}</p>
          <p><a class="btn btn-lg btn-primary" href="sourch.html" role="button">{{_('检索侯马盟书古文字')}}</a></p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="/static/images/dataset_intro.png" alt="Generic placeholder image">
        </div>
      </div>


      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">{{_('基于深层网络的识别模型')}}<span class="text-muted">&nbsp;{{_('学科交叉')}}</span></h2>
          <p class="lead">{{_('平台使用卷积神经网络模型进行识别实验，寻找到最合适的卷积神经网络结构和最佳准确率。再根据VGG模型对识别优化，使用深度残差网络对侯马盟书特征的提取，ResNet解决侯马盟书字型多而像的问题，通过内容的注意力机制解决预测问题，提升模型的准确率。')}}</p>
          <p><a class="btn btn-lg btn-primary" href="predict.html" role="button">{{_('古文字识别')}}</a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="/static/images/CNN-deep.png" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">
      <!-- /END THE FEATURETTES -->

      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->
      <!-- Three columns of text below the carousel -->

          <footer id="about us">
              <div class="row">
                  <div class="col-md-4">
                      <a href="cover.html"><img src="/static/images/logo1.png" width="300" height="40"></a>
                      <p>{{_('邮箱：')}}<a href="mailto:xyuan19@student.oulu.fi">xyuan19@student.oulu.fi</a></p>
                      <p>{{_('电话：')}}<a href="tel:+15083079618">15083079618</a></p>

                  </div>
                  <div class="col-md-4">
                      <h4>{{_('组织')}}</h4>
                      <p>{{_('学校：')}}<a href="https://www.njit.edu.cn/">{{_('南京工程学院')}}</a></p>
                      <p>{{_('院系：')}}<a href="https://sie.njit.edu.cn/">{{_('国际教育学院')}}</a></p>
                  </div>

                  <div class="col-md-4">
                      <h4>{{_('团队')}}</h4>
                      <p>{{_('指导老师')}}：<a href="https://ce.njit.edu.cn/info/1228/3664.htm">{{_('黄晓华')}}</a></p>
                      <p>{{_('团队成员：软件工程中外合办专业学生')}}</p>
                  </div>
              </div>
          </footer>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/static/js/jquery.min.js"><\/script>')</script>
    <script src="/static/js/bootstrap.min.js"></script>

  </body>
</html>